.hide {
    display: none;
}

p {
    font-size: 22px;
}

/* Botones General */
button {
    height: 8vh;
}

.btn-primary {
    background-color: #0197FA !important;
    border-color: #0197FA !important;
    border-radius: 0px !important;
}

    .btn-primary:focus {
        box-shadow: none;
    }

    .btn-primary:hover:enabled {
        background-color: #0070BA !important;
        border-color: #0070BA !important;
    }

    .btn-primary:hover:disabled {
        cursor:default;
    }

 /* Botones Barra Superior */
#Clear > img {
    width: 34.2px;
    height: 4vh;
}

#Increase > img {
    width: 30px;
    height: 4vh;
}

#Decrease > img {
    width: 31.2px;
    height: 4vh;
}

#Barra_Superior {
    display: flex;
    align-items: center;
}

/*Botón Inferior*/
#Siguiente {
    position: fixed;
    bottom: 0px;
    left: 0px;
}

    #Siguiente > img {
        height: 6vh;
    }

/*Container Textos */
#Container {
    margin-left: 5vw;
    margin-right: 0px;
    padding-right: 5vw;
    max-height: 84vh;
    overflow-y: scroll;
    font-size: 26px;
}

#Text > p {
    text-indent: 3em;
}

/* Cuestionarios */
.margen {
    padding-left: 2em;
}

div[class="row"] {
    border-top: 1px solid black;
}

select {
    text-align: center;
    float: left;
}