body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#Container{
    text-align:center;
}

    #Container > img {
        height:380px;
    }

h1 {
    color: #007bff;
}