body{
    background-color:#fbfaf9;
}

#Test, #Response{
    margin-left: auto!important;
    margin-right: auto!important;
    justify-content:center;
    align-items:center;
    height:50vh;
}

#Test{
    /*background-color: lightblue; */
    /*height:50vh;
    
    margin-left: auto!important;
    margin-right: auto!important;*/
    margin-top: 23vh;
    display:flex;
}

p{
    width: inherit;
    height: inherit;
    color: #181818;

    margin-bottom:0px !important;
    justify-content:center;
    align-items:center;
    display:flex;
}

#Response {
    /*margin-left: 8.3335vw;
    margin-right: auto!important;
    margin-top: 19vh;*/
    /*position:absolute!important;*/
    display:none;
    /*display:none;
    justify-content:center;
    align-items:center;x
    
    /*background-color: orange;*/
    margin-top:23vh;
    border-top: 2px solid #181818;
    border-bottom: 2px solid #181818;
    height:50vh;
    font-size: 30vh;
}

form, #Alert{
    display:none;
}

#Aceptar, #Siguiente{
    /*height:10vh;*/
    font-size: 2.8125vw!important;
    border-color:transparent !important;

    margin-top: 1vh;
    margin-bottom: 1vh;
    margin-left: auto!important;
    margin-right: auto!important;
    justify-content:center;
    align-items:center;
    display: flex;
   }

#Aceptar:hover, #Siguiente:hover{
    background-color: #28a745 !important;
    color: #fff !important;
}

#Alert, #Test>p{
    text-align:center;
}

#Alert{
    height:7vh;
}