#Text{
    width:80vw;
}

span:hover{
    border-bottom:1px solid orange;
    border-top:1px solid orange;
    cursor:pointer;
}

.Desde{
    border-bottom:1px solid orange;
    border-top:1px solid orange;
}

.Resaltado{
    background-color:orange;
}
