@{
    ViewBag.Title = "Bloques de Corsi";
    Layout = "~/Views/Shared/Layout_Test.cshtml";
}

@section Styles{
    <link rel="Stylesheet" type="text/css" href="../../Content/Bloques.css" />
}

    <div id="Marco">
        <div id="Instructivo" class="col"></div>
        <div id="Pregunta"><p>?</p></div>
        <div id="Poligono">
            <svg id="PA" class="Poligonos" viewBox="5 5 110 100"></svg>
            <svg id="PB" class="Poligonos" viewBox="5 5 110 100"></svg>
            <svg id="PC" class="Poligonos" viewBox="5 5 110 100"></svg>
        </div>
        <div id="Poligono_Respuesta">
            <p id="PRp1"></p>
            <div id="PRA" class="Poligonos"><p></p></div>
            <div id="PRB" class="Poligonos"><p></p></div>
            <div id="PRC" class="Poligonos"><p></p></div>
            <p id="PRp2"></p>
        </div>
        <div class="bloques" id="b1"><p></p></div>
        <div class="bloques" id="b2"><p></p></div>
        <div class="bloques" id="b3"><p></p></div>
        <div class="bloques" id="b4"><p></p></div>
        <div class="bloques" id="b5"><p></p></div>
        <div class="bloques" id="b6"><p></p></div>
        <div class="bloques" id="b7"><p></p></div>
        <div class="bloques" id="b8"><p></p></div>
        <div class="bloques" id="b9"><p></p></div>
    </div>
    <form action="@Url.Action("CargarBloques","Home")" method="post" id="Formulario">
        <input type="text" id="Respuesta_CS" name="Respuesta_CS" />
        <input type="text" id="Puntaje_CS" name="Puntaje_CS" />
        <input type="text" id="CS_TR" name="CS_TR" />

        <input type="text" id="Respuesta_CI" name="Respuesta_CI" />
        <input type="text" id="Puntaje_CI" name="Puntaje_CI" />
        <input type="text" id="CI_TR" name="CI_TR" />

        <input type="submit" id="Submit">
    </form>
    <audio id="audio">
        <source type="audio/wav" src="~/Audio/beep.wav">
    </audio>


@section Scripts {
    <script type="text/javascript" src="../../Scripts/Bloques.js"></script>
}

