#Test{
    /*background-color: lightblue; */
    height:50vh;
    margin-left: auto!important;
    margin-right: auto!important;
    margin-top: 19vh;
    display:flex;
}

p{
    width: inherit;
    height: inherit;
    margin-bottom:0px !important;
    justify-content:center;
    align-items:center;
    display:flex;
}

#Response {
    margin-left: auto!important;
    margin-right: auto!important;
    display:none;
    justify-content:center;
    align-items:center;
    /*background-color: orange;
    border: 2px solid #000;
    border-radius:0.25rem; */
    height:50vh;
    margin-top: 19vh;
    font-size: 30vh;
}

form, #alert{
    display:none;
}

#Aceptar, #Siguiente{
    /*height:10vh;*/
    font-size: 2.8125vw!important;
    margin-top: 1vh;
    margin-bottom: 1vh;
    margin-left: auto!important;
    margin-right: auto!important;
    justify-content:center;
    align-items:center;
    display: flex;
    border-color:transparent !important;
}

#Aceptar:hover, #Siguiente:hover{
    background-color: #28a745 !important;
    color: #fff !important;
}

#alert, #Test>p{
    text-align:center;
}