

#Test{
    background-color: lightblue;
    height:50vh;
    margin-left: auto!important;
    margin-right: auto!important;
    margin-top: 19vh;
    display:flex;
}

p{
    width: inherit;
    height: inherit;
    margin-bottom:0px !important;
    justify-content:center;
    align-items:center;
    display:flex;
}

#Response {
    margin-left: auto!important;
    margin-right: auto!important;
    display:none;
    justify-content:center;
    align-items:center;
    background-color: orange;
    height:50vh;
    margin-top: 19vh;
    font-size: 30vh;
}

form, #alert{
    display:none;
}

#Entendido, #Siguiente{
    height:10vh;
    font-size: 2em!important;
    margin-top: 1vh;
    margin-bottom: 1vh;
    margin-left: auto!important;
    margin-right: auto!important;
    justify-content:center;
    align-items:center;
    display: flex;
}

#alert, #Test>p{
    text-align:center;
}