@{
    ViewBag.Title = "Final";
    Layout = "../Shared/Layout.cshtml";
}

@section Styles{
    <link rel="Stylesheet" type="text/css" href="~/Content/Final.css" />
}

<div id="Container">
    <h1>Los datos se han cargado correctamente</h1>
    <h2>Un poco de humor para relajar...</h2>
    <img src="~/Content/img/Meme.jpeg"/>
    <br />
    <br />
    <h3>¡Gracias por Participar!</h3>
</div>
