@{
    ViewBag.Title = "Final";
    Layout = "../Shared/Layout.cshtml";
}

<div style="text-align:center">
<h1>Los datos se han cargado correctamente</h1>
    <h2>Un poco de humor para relajar...</h2>
    <img src="~/Content/img/Meme.jpeg" style="height:380px"/>
    <br />
    <br />
    <h3>¡Gracias por Participar!</h3>
</div>
