@{
    ViewBag.Title = "Final";
    Layout = "../Shared/Layout.cshtml";
}

<div style="text-align:center">
<h1>Los datos se han cargado correctamente</h1>
    <h3>¡Gracias por Participar!</h3>
</div>
