@{
    ViewBag.Title = "Mobile";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<div class="container" style="text-align:center">
    <h2>¡Gracias por Ingresar!</h2>

    <p> Para poder participar de la investigación, es necesario que ingrese a la página desde una Computadora de Escritorio o Portatil.</p>

    <a href="http://www.google.com" style="cursor:pointer"><h3>Ir a Google</h3></a>
</div>